
/*------------------Toggle (Accordion) menu--------------------*/

/* Base Styles */
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1;
  position: relative;
}

#cssmenu {  
  width: 980px;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  height:45px;
  border-top: solid 2px black;
}

#cssmenu > ul > li {
  margin: 0 0 2px 0;
}

#cssmenu > ul > li > a { /*While the toggle is inactive*/
  font-size: 15px;
  display: block;
  color: #000000;

}
#cssmenu > ul > li > a > span { /*stylize the word Filter*/
  display: block;
  padding: 6px 10px;
  float:right;

}

.filterbutton {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  float:right;
}

#cssmenu > ul > li > a:hover {
  text-decoration: none;
}

.filter{
  font-weight: 400;
  font-size: 14px;
  margin-right:20px;
  padding-left:300px;
  line-height: 26px;
}


/*------------------Button for filters--------------------*/

#cssmenu > ul > li.has-sub > a span { /*Button v*/
  background: url(../images/filter-button-35.png) 100% center no-repeat;
}

#cssmenu > ul > li.has-sub.active > a span { /*Button ^*/
  background: url(../images/filters-button-33.png) 100% center no-repeat;
}


/*------------------------Sub menu---------------------- */

#cssmenu ul ul {
  top:29px;
  display: none;
  position: absolute;
  overflow:hidden;
  height:100.5px;
  padding:0px 0px 0px 1px;
  opacity:;
  background-color: white;
}

#cssmenu ul ul img {
  width:auto;
}




/*------------------------sticky----------------------*/

.sticky-wrapper {
}

.site-header {
/*  padding top: 130px;*/
  background: #ffffff;
  opacity: .94;
  transition: all .3s ease-out;
}


.site-header.stuck {
  position: fixed;
  top: 93px;
  width: 100%;
  z-index: 1;
  padding: 0;
}


.site-content{
  position:relative;
  z-index: 0;
}